.nav {
    background: #34495e;
    padding: 10px 0;

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    &__item {
        margin: 0 15px;
    }

    &__link {
        color: white;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
            color: #50e3c2;
        }
    }
}
